<title>colors</title>
<p>colors node - Legend Colors column settings </p>
<p>&lt;root&gt;<br>
  &nbsp;&lt;type&gt;<br>
  &nbsp;&nbsp;&lt;legend&gt;<br>
  &nbsp;&nbsp;&nbsp;&lt;colors width='20'/&gt;<br>
  &nbsp;&nbsp;&lt;/legend&gt; <br>
  &nbsp;&lt;/type&gt;<br>
  &lt;/root&gt; </p>
<hr>
<p>Attributes:</p>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <th width="15%">Name</td>
    <th width="39%">Description</td>
    <th width="46%">Value</td>
    <th width="46%">Default value</th>
  </tr>
  <tr> 
    <td>width</td>
    <td>names column width</td>
    <td>positive numerical value</td>
    <td>20</td>
  </tr>
</table>
