<head>
<title>Deutsch Programmdokumentation - AnyChart.Com Komponente der Konstruktion der Diagramme</title>
<link href="style.css" rel="stylesheet" type="text/css">
<META NAME="Copyright" CONTENT="Copyright 2004 AnyChart.Com">
<meta http-equiv="Content-Language" content="de">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"> 
</head>
<body  topmargin=0 leftmargin=0 marginheight=0 marginwidth=0 bgcolor=#FFFFFF >
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF">
<tr>
  <td>
  <!-- menu     -->
  <table width="100%">
    <tr>
	<td width="25">&nbsp;</td>
	      <td width="185"><img src="AnyChart-Logo.png" width="185" height="75"></td>
		  <td width="25">&nbsp;</td>
      <td align='left'><a class="MENU" href="anychart.html">Description</a> <a class='MENU'>|</a> 
	  <a  class="MENU"  href="anychart/gallery/index.htm">Chart gallery</a> <a class='MENU'>|</a> 
	  <a  class="MENU"  href="anychart/implementation/index.htm">Implementation samples</a> <a class='MENU'>|</a> 
	  <a  class="MENU"  href="anychart/help/index.htm">Documentation</a><a class='MENU'>|</a><a  class="MENU"  href="anychart/support/index.htm">Support</a>
      </td>
    </tr>
  </table>
  <!-- end menu -->
  </td>
  </tr>
  <tr> 
    <!-- main start -->
    <td  width="100%" valign="top"> <table>
        <tr> 
          <td> <table>
              <tr> 
                <td> <table border=0 cellpadding=0 cellspacing=0>
                    <tr> 
                      <td width=50 > <spacer> </td>
                      <td> <h1>Anychart Flash Chart Component</h1></td>
                    </tr>
                    <tr> 
                      <td width=50 > <spacer> </td>
                      <td> <table cellpadding="0" cellspacing="0" width="100%">
                          <tr> 
                            <td align="left">&nbsp; </td>
                            <td align="right" class="bodystyle"> Programmdokumentation 
                            </td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <td width=50 height=20 > <spacer> </td>
                      <td width=50 > <spacer> </td>
                    </tr>
                    <tr> 
                      <td width=50 > <spacer> </td>
                      <td valign="top" align="left"> <font class="BodyStyle"> 
                        Anychart Flash ist eine Komponente der Konstruktion der 
                        Diagramme. Die Komponente kann die kompakten, animieren, 
                        interaktiven und sch&ouml;nen Diagramme schaffen. <br>
                        <br>
                        <strong>Die Hauptm&ouml;glichkeiten:</strong> 
                        <ul>
                          <li><strong>Kommt vom XML Interface zurecht</strong> 
                            - w&auml;hlen Sie aus der Menge der Abstimmung Anychart, 
                            dass Ihnen n&ouml;tigist: die Durchsichtigkeit, Farbe, 
                            der web-hinweises, der Unterschriften oder andere. 
                            Das alles wird durch die XML Datei angepasst, man 
                            mu&szlig; nicht die Flash Datei &auml;ndern. 
                          <li><strong>Fordert die Installation nicht</strong> 
                            - Ihr Server wird sich mit der Visualisierung der 
                            Darstellungen nicht besch&auml;ftigen, auf ihn mu&szlig; 
                            man keine Bibliotheken aufstellen und ist es nicht 
                            wichtig, auf welchem Plattform Ihre Web-Seite arbeitet, 
                            alle Konstruktionen stammen auf der Seite des Kunden. 
                            Flash Player ist bei dem 97% Benutzer das Internet 
                            in der Welt eingerichtet. 
                          <li><strong>Die sehr leichte Nutzung</strong> - die 
                            XML Datei kann man manuell schaffen oder der konfigurations 
                            script verwenden, der mit einer beliebigen Version 
                            AnyChart geliefert wird. 
                          <li><strong>AnyChart ist aus beliebigen ScriptSprachen 
                            (ASP, PHP, ColdFusion, Perl, etc.) kompatibel</strong> 
                            - verwenden Sie, dass Ihnen bequemer ist, um XML zu 
                            formieren und dem Flash Objekt zu &uuml;bergeben, 
                            oder einfach stellen Sie die XML Datei auf Ihrem Server 
                            auf. 
                          <li><strong>Die Erg&auml;nzung ihrer Darstellungen oder 
                            der Laute </strong>- &auml;ndern Sie die Au&szlig;enseite 
                            Ihrer Diagramme, wie Sie und zu jeder Zeit wollen! 
                        </ul>
                        </font> <p><font class="BodyStyle">Erwerbend die Lizenz 
                          f&uuml;r die Hersteller AnyChart Flash Chart Component 
                          erwerben Sie die Ausgangsdatei (FLA), der k&ouml;nnen 
                          Sie f&uuml;r die Schaffung der neuen Typen der grafischen 
                          Darstellungen fur ihre Projekte verwenden. Auch k&ouml;nnen 
                          Sie einen beliebigen Typ der grafischen Darstellungen 
                          bestellen - Wir werden Ihnen versuchen, zu helfen. </font></p>
                        <p><font class='BodyStyle'><a href="swf/">.swf files</a> 
                          | <a href="source/">source code files</a></font></p></td>
                    </tr>
                    <tr> 
                      <td width=50 > <spacer> </td>
                      <td  valign="top" align="left"> </td>
                    </tr>
                    <!-- spacer start-->
                    <tr> 
                      <td width=50 > <spacer> &nbsp; </td>
                    </tr>
                    <!-- spacer end-->
                    <!-- boxes row-->
                    <tr> 
                      <td width=50 > <spacer> </td>
                      <td> </td>
                    </tr>
                    <!-- boxes row-->
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    <!-- main end -->
    <!-- right pane start-->
    <!-- right pane end-->
  </tr>
</table>
<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr>

  <td align="center">
  	 <font class="Footing"> Copyright &copy;2005 AnyChart.Com All rights reserved.</font> 
  </td>
</tr>
</table>
<br>

</body>
</html>
