table.Footing
{
	margin-top:20px;
}
font.Footing
{
font-size:9px;
color:#033B78;
}
BODY
{
  font-family: Verdana, Arial, Helvetica;
  font-size:12px;
}


P
{
  font-family: Verdana, Arial, Helvetica;
  font-size:12px;
}

TD
{
  font-family: Verdana, Arial, Helvetica;
  font-size:12px;
}

H1
{
  font-family: Verdana, Arial, Helvetica;
  font-size:16px;
  font-weight: bold;
  color: #000000
}

H2
{
  font-family: Verdana, Arial, Helvetica;
  font-size:14px;
  font-weight: bold;
  color: #000000
}

H3
{
  font-family: Verdana, Arial, Helvetica;
  font-size:12px;
  font-weight: bold;
  color: #000000
}


a.MENU
{
  text-decoration:none;
  color:#033B78;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica;
  font-size: 13px;
  font-style:normal;
}
a.MENU:hover
{
  text-decoration:none;
  color:#0066CC;
}
table.MENU
{
	margin-bottom:20;
	border-bottom-color:#033B78;
	border-bottom-style:dashed;
	border-bottom-width:thin;
}
p.CODE
{
  text-decoration:none;
  color:#000000;
  background-color:#CCCCCC;
  margin:10px;
}
	
table.CODE
{
margin:25px 25px 25px 25px;
background-color:#F0F6FC;
border-style:dashed;
border-width:thin;
border-color:#666666;
}
span.MARKED
{
color:#990000;
}