table {
	padding: 0px;
	border: 1px solid #808080;
}

tr {
	
}

tr.tr_header {
	font-weight: bold;
	height: 20px;
	background: #dedcd6 url('templates_img/table_header_bg.gif');
}

tr.tr_data {
	cursor: pointer;
}
tr.tr_data:hover {
	background: #dedcd6;
}

td {
	padding-left: 3px;
	padding-right: 3px;
}

td.td_header {
	border: 1px solid #808080;
}

td.td_data {
	border-top: 1px solid #808080;
}

td.td_header_v {
	border-top: 1px solid #808080;
	border-right: 1px solid #808080;
	font-weight: bold;
	background: #dedcd6 url('templates_img/table_header_bg.gif') repeat-x;
	vertical-align: top;
}

td.td_data_v {
	border-top: 1px solid #808080;
}

td.td_spacer {
	background: #ffffff;
	width: 15px;
	border: 0px none #ffffff;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}

td.form_title {
	text-align: right;
}

tr.evt_error {
	background-color: #ff7c7c;
}
tr.evt_warning {
	background-color: #ecff6b;
}
tr.evt_audit_success {
	background-color: #c1ffd1;
}
tr.evt_audit_failure {
	background-color: #fcde9f;
}

td.col_ico {
	width: 16px;
	text-align: center;
}

td.btn_sort {
	cursor: pointer;
}
td.btn_sort:hover {
	background: #FFDC7C url('templates_img/table_header_bg_a.gif');
}
img.btn_sort {
	float: right;
}

a.filtry {
	font-weight: bold;
	padding: 0px 10px;
	letter-spacing: 2px;
	text-decoration: none;
}
#filtry {
	display: none;
	border: 1px solid green;
	width: 98%;
	padding: 5px;
	margin-bottom: 10px;
}



.cpYearNavigation,.cpMonthNavigation { background-color:#C0C0C0; text-align:center; vertical-align: middle; text-decoration:none; color:#000000; font-weight:bold; }
.cpDayColumnHeader, .cpYearNavigation,.cpMonthNavigation,.cpCurrentMonthDate,.cpCurrentMonthDateDisabled,.cpOtherMonthDate,.cpOtherMonthDateDisabled,.cpCurrentDate,.cpCurrentDateDisabled,.cpTodayText,.cpTodayTextDisabled,.cpText { font-family:arial; font-size:8pt; }
td.cpDayColumnHeader { text-align:right; border:solid thin #C0C0C0;border-width:0px 0px 1px 0px; }
.cpCurrentMonthDate, .cpOtherMonthDate, .cpCurrentDate  { text-align:right; text-decoration:none; }
.cpCurrentMonthDateDisabled, .cpOtherMonthDateDisabled, .cpCurrentDateDisabled { color:#D0D0D0; text-align:right; text-decoration:line-through; }
.cpCurrentMonthDate, .cpCurrentDate { color:#000000; }
.cpOtherMonthDate { color:#808080; }
td.cpCurrentDate { color:white; background-color: #C0C0C0; border-width:1px; border:solid thin #800000; }
td.cpCurrentDateDisabled { border-width:1px; border:solid thin #FFAAAA; }
td.cpTodayText, TD.cpTodayTextDisabled { border:solid thin #C0C0C0; border-width:1px 0px 0px 0px;}
a.cpTodayText, SPAN.cpTodayTextDisabled { height:20px; }
a.cpTodayText { color:black; }
.cpTodayTextDisabled { color:#D0D0D0; }
.cpBorder { border:solid thin #808080; }