html {
	height:100%; 
	max-height:100%;  
	padding:0; 
	margin:0; 
	border:0; 
	font-size: 12px; 
	font-family: trebuchet ms, tahoma, verdana, arial, sans-serif; 
	background: #fff; 
	/* hide overflow:hidden from IE5/Mac */ 
	/* \*/ 
	overflow: hidden; 
	/* */
}

h1 { margin: 10px 0px; }
h2 { margin: 10px 0px; }
h3 { margin: 10px 0px 0px 0px; }

code {
	display: block;
	background-color: #bbf;
	border: 1px solid #1111dd;
	padding: 10px;
	margin: 10px 2px;
}

img {
	border: none;
}

body {height:100%; max-height:100%; overflow:hidden; padding:0; margin:0; border:0;}
#content {display:block; height:100%; max-height:100%; overflow:auto; padding-left: 195px; position:relative;}
#head {position:absolute; margin:0; top:0; right: 18px; display:block; width:100%; height:50px; background: #ddd url('templates_img/head_bg.gif') repeat-x; font-size: 42px; color:#fff; z-index:5;}
#version {position:absolute; margin:0; top: 5px; right: 25px; display:block; width: auto; height:20px; color:#808080; text-align:right; font-size:1em; font-weight: bold; z-index:6;}
#version a { color: #808080; }
#version a:hover { color: #202020; }
#left {position:absolute; left:0; top:0; height:100%; width:190px; z-index:4; overflow: auto;}

* html #head, * html #foot,* html #left {position:absolute;}

#pad1 {display:block; width:18px; height:50px; float:left;}
#pad3 {display:block; width:18px; height:20px; float:left;}
.pad2 {display:block; height:50px;}
.bold {font-size:1.2em; font-weight:bold;}

#img_loader {
	position: absolute;
	top: 0px;
	left: 450px;
	width: 220px;
	_width: 240px;
	height: 20px;
	_height: 40px;
	padding: 10px;
	padding-top: 15px;
	background: #ddd url('templates_img/head_bg.gif') repeat-x;
	z-index:100;
	display: none;
}

input {
	
}
input:active,input:focus {
	background: #FFDC7C;
}
select {
	border: 1px solid #808080;
}


.button_txt {
	padding: 0px 10px 0px 10px;
	background-color: #dedcd6;
	background: url('templates_img/table_header_bg.gif') repeat-x;
	height: 20px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #808080;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
}
.button_txt:hover {
	color: #000000;
	background: #ffdc7c url('templates_img/button_menu_bg_a.gif') repeat-x;
}

.button_txt_active {
	background: #feb74c url('templates_img/button_menu_bg.gif') repeat-x;
}

a.button_menu {
	font-weight: bold;
	font-size: 15px;
	display: block;
	width: 175px;
	padding-left: 5px;
	height: 22px;
	text-decoration: none;
	color: #000000;
	background: #feb74c url('templates_img/button_menu_bg.gif') repeat-x;
	border: 1px solid #808080;
}
a.button_menu:hover {
	background: #ffdc7c url('templates_img/button_menu_bg_a.gif') repeat-x;
}

div.submenu_title, a.submenu_title {
	display: block;
	text-decoration: none;
	color: black;
	margin-top: 20px;
	margin-left: 5px;
	width: 165px;
	padding-left: 5px;
	border: 1px solid #808080;
	height: 20px;
	background: #dedcd6 url('templates_img/table_header_bg.gif');
	font-weight: bold;	
}
a.submenu_title:hover {
	background: #FFDC7C url('templates_img/table_header_bg_a.gif');
}
select.submenu_title {
	margin: 2px;
	color: black;
	width: 166px;
}

div.submenu_content{
	width: 170px;
	margin-left: 5px;
	border: 1px solid #808080;
}
a.button_submenu {
	text-transform: uppercase;
	width: 165px;
	padding-left: 5px;
	display: block;
	text-decoration: none;
	color: #000000;
}
a.button_submenu:hover {
	background-color: #dedcd6;
}

a.button_img {
	display: block;
	float: left;
	width: 140px;
	height: 140px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding: 15px;
	border: 2px solid white;
}
a.button_img:hover {
	border: 2px solid #D66432;
}

a.summary_link {
	color: black;
	text-decoration: none;
}
a.summary_link:hover {
	color: black;
	text-decoration: underline;
}

div.evt_detail_message {
	height: 290px;
	overflow: scroll;
}

.wnd_footer {
	border-top: 2px solid #808080;
	text-align: right;
	padding-right: 5px;
}