<h1>Users & Passwords</h1>
You can manage user accounts and their passwords here. Also, you can assign each user to one
<a href="index.php?module=help&hlp_main=settings&hlp_sub=groups_user">User group</a>.
<h2>Password</h2>fg
You can see password hash (as it is saved in .htpasswd file). In order to change the password,
you have to type it twice (New password and Password check). If these two passwords will not match,
password will NOT be changed / stored.<br />

