/* CSS Document */
body
{
	font-family:verdana,arial,helvetica;
	margin:10px;
	font-size:12px;
}
P
{
	line-height:1.5em;
	margin-top:0.5em; margin-bottom:1.0em;
}
HR
{
	color:#CCCCCC;
	height:1px;
}

UL 
{
    margin-left:17px;
	margin-top:10px;
	margin-bottom:10px; 
}
UL LI
{
	line-height:120%;
	margin-bottom:0.5em;
}
UL LI LI 
{
    list-style-type: disc; 
}
table
{
	width: 100%; /* Forces tables to have correct right margin */
	margin-top: .6em;
	margin-bottom: .3em;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999; 
	font-size: 12px; /* Text in Table is same size as text outside table */
}
table th, table td
{ 
	border-style: solid; /* Creates the cell border and color */
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #999999;
	padding: 4px 6px;
	text-align: left;
}
table th	
{ 
	background: #cccccc; /* Creates the shaded table header row */
	vertical-align: bottom;
}
table td	
{
	background: #ffffff;
	vertical-align: top;
}

div#anychart {
	margin-top: 50px;
	width: 100%; /* Forces tables to have correct right margin */
	text-align: right;
}