{include file="_wnd_start.tpl"}
<div style="background: #ddd url('templates_img/head_bg.gif') repeat-x; height: 50px; font-size: 36px; color:#fff;"><img src="templates_img/sbelm_logo.gif" width="450" height="50" alt="&nbsp;{$app_name}"/></div>

<div style="width: 350px; margin-left: auto; margin-right: auto; margin-top: 100px; text-align: left; border: thin dashed #dddddd;">

<div style="background: #eee url('templates_img/login.png') no-repeat; padding-left: 26px; font-weight: bold; font-size: 20px;">##Login##</div>
<form action="index.php" method="post" name="login_form" id="login">
<div style="margin-top: 10px;">&nbsp;</div>

<label style="display: block; width: 100px; float: left; margin-bottom: 10px; text-align: right; padding-right: 10px;" for="X45_auth_user">##Username##:</label>
<input style="width: 150px;" type="text" name="evtlog_user" id="evtlog_user" /><br style="clear: left;" />

<label style="display: block; width: 100px; float: left; margin-bottom: 10px; text-align: right; padding-right: 10px;" for="X45_auth_pass">##Password##:</label>
<input style="width: 150px;" type="password" name="evtlog_pass" id="evtlog_pass" /><br style="clear: left;" />

<div style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
<input type="submit" name="submit" value="##Do Login##" class="button_txt" style="font-weight: bold;" /></div>

</form>
</div>

<div style="position: absolute; text-align: right; right: 20px; top: 10px; width: 200px; left: auto;">
##GUI language##:
<select id="LangSelect" name="LangSelect" onChange="GuiSwitchLang();">
{foreach from=$_i18n_LangTable_ key=key item=item}
	<option value="{$key}"{if $key == $langID} SELECTED{/if}>{$item}</option>
{/foreach}
</select>
</div>

<script language="JavaScript" type="text/javascript">
{literal}
if (document.login_form.evtlog_user.value=='') {
	document.login_form.evtlog_user.focus();
} else {
	document.login_form.evtlog_pass.focus();
}
{/literal}
</script>
</body>
</html>



 