{include file="_wnd_start.tpl"}

<div style="padding: 25px; padding-top: 0px;">
<h1>##Fatal application error##</h1>
##Can't connect to MySQL server. Please contact administrator:##
<a href="mailto:{$smarty.const.AdminEmail}">{$smarty.const.AdminEmail}</a>.<br /><br />
</div>

{include file="_wnd_end.tpl"}
