<br />
<hr style="color: #ddd; height: 2px;" />
<div style="text-align: center; font-size: 12px;">##This email has been sent by## <strong>{$app_name}</strong> ##version## {$version}</div>
</body>
</html>