{if $sbelm_hide_footer != "true"}
<div class="wnd_footer">{$app_name} {$version}&nbsp;|&nbsp;
{dynamic}{$smarty.now|date_format:"%d.%m.%Y %H:%M:%S"}{/dynamic}
{if $smarty.const.SMARTY_caching == true}&nbsp;(##generated at## {$smarty.now|date_format:"%H:%M:%S"}){/if}</div>
{/if}
<div id="img_loader" style="display: none;"><img src="templates_img/loader.gif" alt="loading..." /></div>
</body>
</html>