{include file="_mail_start.tpl"}
<h2>##Filter## "<i>{$mail_data.filter_title}</i>" ##on computer## "<i>{$mail_data.evt_computer}</i>"</h2>

{include file="mail_filter_match_event.tpl"}

{include file="_mail_end.tpl"}