{include file="_mail_start.tpl"}

Your id is: <strong>{$mail_data.id}</strong><br />
{$mail_data.text}

<hr /><img src="templates_img/settings_ico_computers.png" alt="text" />

{include file="_mail_end.tpl"}