{include file="_wnd_start.tpl"}

<div align="center" style="padding-top: 25px; font-size: 16px; color: green;">##Settings have been saved##.</div>

<div align="center" style="padding-top: 15px; font-size: 14px;">
##This window will be closed in few seconds.##<br />
##If not, please close it manualy.##
</div>

<script language="JavaScript" type="text/javascript">
setTimeout("this.close();", (2000));
//this.close();
</script>

<div align="center" style="padding-top: 15px; font-size: 14px;">&nbsp;</div>

{include file="_wnd_end.tpl"}
