{include file="_page_start.tpl"}

<div style="margin: 20px;">
{section name=loop loop=$submenu}
<a href="{$smarty.server.REQUEST_URI|add_url_param:'sub':$submenu[loop].sub}" class="button_img">
<img src="templates_img/settings_ico_{$submenu[loop].sub}.png" width="128" height="128" alt="..." border="0" /><br />
<span style="text-transform: uppercase;">{$submenu[loop].title}</span>
</a>
{/section}
</div>
<br style="clear: both;" />
{include file="_page_end.tpl"}