{include file="_page_start.tpl"}
<div style="font-size: 1px; height: 15px;">&nbsp;</div>
<table cellspacing="0" cellpadding="0" border="0" width="798">
<tr class="tr_header">
<td colspan="6" class="td_header">##Event Detail##</td>
</tr>
<tr><td><div style="font-size: 1px; height: 3px;">&nbsp;</div></td></tr>
<tr><td>
{include file="showEventLogDetailrss.tpl"}
</td></tr></table>
{include file="_page_end.tpl"}
